@import url('https://fonts.googleapis.com/css2?family=David+Libre&family=Josefin+Sans&display=swap');

:root {
    --bg-size: 100% 100%;
    --title: 'Josefin Sans', sans-serif;
    --font-para: 'David Libre', serif;
}

* {
    font-family: var(--font-para);
}
.nav_spec{
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
}
.title_site{
    margin-top: 7px;
}