@import url('https://fonts.googleapis.com/css2?family=David+Libre&family=Josefin+Sans&display=swap');

:root {
    --bg-size: 100% 100%;
    --title: 'Josefin Sans', sans-serif;
    --font-para: 'David Libre', serif;
    --btn-color: #bbe1fa;
    --btn-font-color: #000;
    --btn-font: 1.5rem;
}

* {
    font-family: var(--font-para);
}

html{
    font-size: 62.5%;
}
.nav_spec{
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
}
.title_site{
    margin-top: 7px;
}
p{
    font-size : 1.9rem;
}

.like_buton, .reply_buton{
    color: var(--btn-font-color);
    border-width: .2rem;
    font-size: var(--btn-font);
    transition: var(--eff);
    padding: .8rem 2rem;
    background-color: var(--btn-color);
    border-color: var(--btn-color);
    font-family: var(--title); 
}

.like_buton:hover,.reply_buton:hover{
    transform: translateY(-0.5rem);
    box-shadow: 0 1rem 3rem -1rem rgba(255, 255, 255, 0.8);
}

.left_div_btns {
    margin-top: 3rem;
    transition: var(--eff);
}
