@import url('https://fonts.googleapis.com/css2?family=David+Libre&family=Josefin+Sans&display=swap');

:root {
    --bg-size: 100% 100%;
    --title: 'Josefin Sans', sans-serif;
    --font-para: 'David Libre', serif;
    --btn-color: #e9e9e9;
    --btn-font-color: #000;
    --btn-font: 1.5rem;
    --font-color : #6c757d;
}

* {
    font-family: var(--font-para);
}

html{
    font-size: 62.5%;
}
.nav_spec{
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
}
.title_site{
    margin-top: 10px;
   
}   
p{
    font-size : 1.9rem;
    line-height: 170%;
    color: var(--font-color);
}

.like_buton, .reply_buton{
    color: var(--btn-font-color);
    border-width: .2rem;
    font-size: var(--btn-font);
    transition: var(--eff);
    padding: .8rem 2rem;
    background-color: var(--btn-color);
    border-color: var(--btn-color);
    font-family: var(--title); 
}

.like_buton:hover,.reply_buton:hover{
    transform: translateY(-0.5rem);
    box-shadow: 0 1rem 3rem -1rem rgba(255, 255, 255, 0.8);
}

.all_btns {
    margin-top: 3rem;
    transition: var(--eff);
    display: flex;
    justify-content: space-between;
}
.content_title{
    font-weight: 400;
    font-size: 2.2rem;
}

.row{
    margin-bottom: 2rem;
    padding-left: 1rem;
}

.replies {
    margin: 2rem 0;
    padding: 1rem 0;
    transition: var(--eff);
    display: none;
}

.repl_img{
    width: 100px;
}
.content_left_div p span{
    color: #1b262c;
}
.news_div{
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    background-image: linear-gradient(to bottom, transparent 65%, rgba(208,206,207,0.8) 50%), url('../img/epic.jpg');
    background-size: var(--bg-size);
}
.news_div p:first-child{
    padding-bottom: 0.2rem;
    font-size: 1.9rem;
    font-family: var(--font-para);
}

.news_div p {
    font-size: 1.8rem;;
    padding-bottom: 1rem;
    color: #000;
}
.right_div_title{
    background: #d0cecf;
    color: #000;
}
.right_div_title h2{
    font-size: 2.5rem;
    padding-left: 2rem;
}
.right_sub_div{
    background: #fff;
    padding: 2.5rem 1rem;  
}
.right_sub_div .row{
    margin-bottom: 2rem;
    padding-left: 1rem;
}
.right_sub_div .row:last-child{
    margin-bottom: 0;
}

/* .popular_post_img1{
     background-image: url('../img/popular\ img\ 1.png'); 
    background-size: var(--bg-size);
    width: 70px;
    height: 70px;
} */
.popimg{
    width: 78px;
    height: 70px;
}

/* Next & previous buttons */
.prev{
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    text-decoration: none;
    right: 0.85em;
    border-radius: 3px 0 0 3px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .mySlides {
    display: none;
  }
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
@media screen and (min-width: 760px){
    html{
        font-size: 60%;
    }
    .news_div{
        height: 300px;
       
    }
    
}